﻿@model Usuario
@{
}
<section class="vh-100" style="background-color: #9A616D;">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col col-xl-10">
                <div class="card" style="border-radius: 1rem;">
                    <div class="row g-0">
                        <div class="col-md-6 col-lg-5 d-none d-md-block">
                            <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/img1.webp"
                                 alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
                        </div>
                        <div class="col-md-6 col-lg-7 d-flex align-items-center">
                            <div class="card-body p-4 p-lg-5 text-black">


                                    <div class="d-flex align-items-center mb-3 pb-1">
                                        <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                                        <span class="h1 fw-bold mb-0">Bienvenido</span>
                                    </div>

                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">@Model.nb_nombre</h5>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Con rol:</h5>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">@Model.Rol</h5>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Martín</h5>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Miguel</h5>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Jesús</h5>
                                <h5 class="fw-normal mb-3 pb-3" style="letter-spacing: 1px;">Jesús Antonio</h5>



                                   

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
