﻿@model Usuario
@{
    ViewData["Title"] = "Login";
}
<section class="vh-100 mt-5 ">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-9 col-lg-6 col-xl-5">
                <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                     class="img-fluid" alt="Sample image">
            </div>
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form asp-action="Login">
            

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0 align-content-center w-100 opacity-50">Inicia Secion</p>
                    </div>

                    <!-- Email input -->
                    <div class="form-outline mb-4">
                        <input type="email" id="form3Example3" class="form-control form-control-lg"
                               placeholder="Enter a valid email address" 
                               asp-for="Email"/>
                        <label asp-for="Email" class="form-label" for="form3Example3">Email</label>
                        <span asp-validation-for="Email" class="text-danger"></span>

                    </div>

                    <!-- Password input -->
                    <div class="form-outline mb-3">
                        <input type="password" asp-for="Password" id="form3Example4" class="form-control form-control-lg"
                               placeholder="Enter password" />
                        <label asp-for="Password" class="form-label" for="form3Example4">Password</label>
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>

                    <div class="d-flex justify-content-between align-items-center">
                        <!-- Checkbox -->
                        <div class="form-check mb-0">
                            <label class="form-check-label" for="form2Example3">
                                Remember me
                            </label>
                        </div>
                        <a href="#!" class="text-body">Forgot password?</a>
                    </div>

                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit"  class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;">
                            Login
                        </button>
               
                    </div>

                </form>
            </div>
        </div>
    </div>

</section>

@section Scripts{
    <partial name="_ValidationScriptsPartial"/>
}